# Pandas
파이썬에서 사용하는 데이터 분석 라이브러리

In [4]:
import pandas as pd

# 1. Series
1차원 데이터(정수, 실수, 문자열 등)

## Seires 객체 생성
예) 1월부터 4월까지 평균 온도 데이터(-20, -10, 10, 20)

In [7]:
temp = pd.Series([-20, -10, 10, 20])
print(temp)

0   -20
1   -10
2    10
3    20
dtype: int64

In [8]:
temp[0] # 1월 온도

np.int64(-20)

In [11]:
print(temp[2]) # 3월 온도

10

# Series 객체 생성 (Index 지정)

In [13]:
temp = pd.Series([-20, -10, 10, 20], index=['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [18]:
temp['Jan'] # Index Jan(1월)에 해당하는 데이터 출력

np.int64(-20)

In [15]:
temp['Apr']

np.int64(20)

In [19]:
# temp['Jun'] # 존재하지 않는 인덱스 접근 에러